@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model RegisterViewModel
@{
    ViewData["Title"] = "SERAG";
}

<section>
	<img src="~/images/avatar.jpg" class="avatar" class="rounded-circle" class="float" alt="auto">

	<p>
		Vítejte v aplikaci SERAG
	</p>

	<p>
		Pojišťovací aplikace
	</p>
	<p>
		Aplikace umožňuje evidenci:
	</p>
	<ul>
		<li>Pojištěnců</li>
		<li>Pojistných událostí</li>
		<li>Uživatelů</li>
		<li>Pojištění</li>
	</ul>
	<p></p>

	<p class="tlacitko-odstavec">
	<a asp-controller="Pojisteni1" asp-action="Create" class="reference-tlacitko">Přidat pojištění</a>
	<a asp-controller="Pojisteni2" asp-action="Create" class="reference-tlacitko">Nahlásit událost</a>
	</p>
	<a asp-controller="Account" asp-action="Login">Přihlásit se</a>
	<div class="cistic"></div>
</section>
	