@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "SERAG";
}

<section>
	<img src="~/images/avatar.jpg" class="avatar" class="rounded-circle" class="float" alt="auto">

	<p>
		Vítejte v aplikaci SERAG
	</p>

	<p>
		Pojišťovací aplikace
	</p>
	<p>
		Aplikace umožňuje evidenci:
	</p>
	<ul>
		<li>Pojištěnců</li>
		<li>Pojistných událostí</li>
		<li>Uživatelů</li>
		<li>Pojištění</li>
	</ul>

	<p>
		<strong>Přidat a vyhledat pojištěnce můžete na odkazech níže:</strong>
	</p>

	<p class="tlacitko-odstavec">
		<p></p>
	<a asp-controller="Pojisteni1" asp-action="Create" class="reference-tlacitko">Přidat pojištěnce</a>
	<a asp-controller="Pojisteni1" asp-action="Vyhledat" class="reference-tlacitko">Vyhledat pojištěnce</a>
		<p></p>
	</p>
	<div class="cistic"></div>
</section>
	